.doctor-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
  background-color: white;
  border-radius: 4px;
  gap: 4px;

  .header {
    display: flex;
    align-items: center;
    gap: 18px;

    .text {
      .doctor-speciality {
        opacity: 0.8;
      }
    }
  }


}