.filter-box {
    display: flex;
    flex-direction: column;
    gap: 2px;

    #keyword {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F6F6F6;
        border: 1px solid #CECECE;
        border-radius: 6px;
        padding-left: 8px;

        input[type="search"] {
            border: none;
            width: 100%;
            background-color: unset;
            height: 90%;
            padding: 10px;

            font-family: 'Lato', sans-serif;


            &:focus {
                outline: none;
            }
        }
    }

    #location {
        width: 100%;

        div {
            width: 100%;
        }
    }

    #search-btn {
        margin-top: 10px;
        border-radius: 2px;
    }

    margin: 10px;


}