.login-form {
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .form-heading {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-field {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    text-align:center; 
    margin-left:-100px;
    color: #333;
  }
  
  .input-field {
    
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: green;
    background-color: #f4f4f4;
    text-align: left;
  }
  
  .input-field:focus {
    background-color: white;
    border-color: blue;
  }
  
  .input-field + .input-field {
    margin-top: 10px;
  }
  
  .login-button,
  .signup-button {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    background-color: #333;
    cursor: pointer;
  }
  
  .login-button:hover,
  .signup-button:hover {
    background-color: green;
  }
  
  .forgot-password-link {
    display: block;
    text-align: center;
    color: blue;
  }
  
  .forgot-password-link:hover {
    color: red;
  }
  