
.form-group{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  justify-content: start;
}

     label {
        margin-bottom: 5px;
        color: #333;
      }
      .f1 {
         margin-right: 30px; 
      }

    .l1 {
        margin-right: 30px; 
     }

    .e1 {
      margin-right: 70px; 
     }

    .u1 {
        margin-right: 40px; 
     }

    .p1 {
      margin-right: 40px; 
    }

    .p2 {
      margin-right: -30px; 
   }

    .form-control {
        /* display: block; */
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        color: green;
        background-color: #f4f4f4;
      
  }
  
  .form-control:hover {
    border-color: blue;
  }
  
  .btn-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .btn {
    margin-right: 0.5rem;
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
  }
  
  .btn:hover {
    background-color: #218838;
  }
  
  .clear-btn {
    background-color: #dc3545;
  }
  
  .clear-btn:hover {
    background-color: #c82333;
  }
  