#patient-booking {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 10px;

    .session-selector {
        display: flex;
        flex-wrap: wrap;

        gap: 4px;

        .session-time-button {
            background-color: #eeeeee;
            width: max-content;
            padding: 8px 24px;
            border-radius: 50px;
            border: 1px solid #0081C9;
            cursor: pointer;

            &.active {
                background-color: #0081C9;
                color: white;
            }
        }
    }
}