#report-page {
    padding: 40px;
    background-color: #f5f5f5;

    #report-add {
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 40vw;

        h3 {
            margin: 4px;
        }
    }

    #report-list {
        display: flex;
        flex-direction: column;
        gap: 8px;

        #report-wrap {
            #footer {
                margin-top: 8px;
                display: flex;
                gap: 20px;
                opacity: .6;
            }
        }
    }
}